body {
    font-family: Arial;
    background-color: #f4f4f4;
}

header {
    background-color: #2c7a7b;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #2c7a7b;
    font-weight: bold;
    gap: 15px;
}

img {
    width: 300px;
    border: 3px solid #333;
    margin: 10px;
}

.highlight {
    color: green;
}

.center {
    text-align: center;
}
