
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f172a;   /
    color: #f1f5f9;              
    line-height: 1.6;
}


header {
    background-color: #020617;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    color: #facc15; 
    margin-bottom: 10px;
}


nav {
    background-color: #020617;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #38bdf8;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    color: #facc15;
}


section {
    padding: 25px;
    margin: 20px auto;
    max-width: 900px;
    background-color: #020617;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

section h2 {
    color: #facc15;
    margin-bottom: 15px;
}


img {
    width: 280px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #38bdf8;
    margin: 10px;
    display: inline-block;
}


ul, ol {
    margin-left: 25px;
}

li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #38bdf8;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #020617;
    color: #facc15;
}


video, audio {
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}


iframe {
    display: block;
    margin: 0 auto;
    border-radius:
