body {
    background-color: #ffffff;
}

h1 {
    color: #1a202c;
}

img {
    width: 220px;
    border-radius: 10px;
}

.place1,.place2 {
    border: 1px solid #ccc;
    padding: 10px;
}

.text-bold {
    font-weight: bold;
}
